---
Checks: '-*,
         boost-*,
         bugprone-*,
         -bugprone-easily-swappable-parameters,
         cert-*,
         concurrency-*,
         cppcoreguidelines-*,
         -cppcoreguidelines-avoid-c-arrays,
         -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
         -cppcoreguidelines-pro-type-reinterpret-cast,
         llvm-*,
         misc-*,
         modernize-*,
         -modernize-avoid-c-arrays,
         performance-*,
         portability-*,
         readability-*,
         -readability-identifier-length,
         -readability-function-cognitive-complexity'
FormatStyle: llvm
HeaderFilterRegex: 'src/|include/'
CheckOptions:
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.MemberCase
    value:           CamelCase
  - key:             readability-identifier-naming.ParameterCase
    value:           CamelCase
  - key:             readability-identifier-naming.UnionCase
    value:           CamelCase
  - key:             readability-identifier-naming.VariableCase
    value:           CamelCase
  - key:             readability-identifier-naming.IgnoreMainLikeFunctions
    value:           1
