---
Checks: '-*,
         boost-*,
         bugprone-*,
         cert-*,
         concurrency-*,
         cppcoreguidelines-*,
         llvm-*,
         misc-*,
         modernize-*,
         performance-*,
         portability-*,
         readability-*,
         -readability-identifier-length'
FormatStyle: llvm
HeaderFilterRegex: 'src/|include/'
CheckOptions:
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           camelBack
  - key:             readability-identifier-naming.MemberCase
    value:           CamelCase
  - key:             readability-identifier-naming.ParameterCase
    value:           CamelCase
  - key:             readability-identifier-naming.UnionCase
    value:           CamelCase
  - key:             readability-identifier-naming.VariableCase
    value:           CamelCase
  - key:             readability-identifier-naming.IgnoreMainLikeFunctions
    value:           1
